<!DOCTYPE html>
<html lang="en">

<head>
    <title>Status</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/style2.css">
</head>

<body>
    <div class="form">
        <form action="{% url 'App6:Index' %}" id="form" , method="POST">
            <h1>What's on your mind?</h1>
            {% csrf_token %} {{ Mindform.as_p }}
            <button type="submit" class="buttons">Submit</button>
        </form>
    </div>
    <div class="table">
        <table class="table1">
            {% for i in Mind %}
            <tr>
                <td>{{i.mind}}<br>{{i.time}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>