body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body>* {}

.form {
    background-color: grey;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 120%;
    color: aquamarine;
}

form {
    margin: 40vh 0;
}

.buttons {
    background-color: #fff;
    border: 1px solid aquamarine;
    border-radius: 10%;
    padding: 10px;
    color: rgb(84, 194, 157);
    transition: .5s ease;
}

.buttons:hover {
    background-color: aquamarine;
    color: white;
}

table {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
    max-height: 92vh;
    margin: 0vh auto;
    width: 40vw;
    margin-top: 5vh;
    max-width: 50vw;
}

.table {
    width: 100%;
    /* height: 1000vh; */
    background-color: aquamarine;
    height: 100vh;
}

td {
    border: 1px solid #c4c4c4;
    border-radius: 50px;
    width: 100%;
    padding: 2vh;
    column-gap: 100vh;
    background-color: #c4c4c4;
    text-align: center;
    color: white;
}